:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Manrope", sans-serif;
  --branding-color: rgba(244, 214, 204, 0.722);
  --primary-color: rgb(199, 160, 154);
  --subheading-color: rgb(128, 128, 128);
  /* --secondary-color: rgb(153, 136, 201);  #e3d0cc*/
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  font-size: bold;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--secondary-font);
}
.navbar-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.main {
  margin: 60px auto;
  max-width: 800px;
  margin-top: 100px;
}
.hero {
  margin-top: 55px;
  padding: 70px;
  background-color: var(--branding-color);
}
.secondary-hero {
  text-align: center;
  margin-top: 55px;
  padding: 70px;
  padding-bottom: 30;
  background-color: var(--primary-color);
  left: 0;
  right: 0;
}
.secondary-hero h1 {
  color: white;
}
.secondary-hero h3 {
  font-family: var(--secondary-font);
  font-weight: 300;
}
.about-photo {
  border-radius: 50%;
  height: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero h3 {
  font-family: var(--secondary-font);
  font-weight: 300;
}
.social-links {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.navigation-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  transition: all ease-in-out 2ms;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.main h2 {
  font-family: var(--primary-font);
}
.getStarted-link {
  background: var(--primary-color);
  font-family: var(--secondary-font);
  box-shadow: var(--box-shadow);
  color: white;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.slogan {
  font-family: var(--primary-font);
  font-size: 42px;
  color: var(--subheading-color);
}
.content-paragraphs {
  display: flex;
  margin: 30px 0;
}

.content-paragraphs p {
  margin: 10px;
}

.primary-link {
  border-radius: 6px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  background: white;
  box-shadow: var(--box-shadow);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: all ease-in-out 2ms;
}
.primary-link:hover {
  background-color: var(--primary-color);
  color: white;
}
.subheadings {
  color: var(--subheading-color);
  font-size: 42px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  .slogan {
    font-size: 22px;
  }
  .main {
    margin-top: 0;
  }
  .main img {
    display: none;
  }
  .main a {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .row img {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .navigation-links {
    margin-bottom: 24px;
  }

  .hero {
    padding: 30px 20px;
  }
  .secondary-hero {
    text-align: center;
    padding: 30px 20px;
  }
  .about-photo {
    height: 30%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .social-links {
    margin-top: 15px;
  }
  .social-links img {
    width: 25px;
  }
}
