:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Manrope", sans-serif;
  --branding-color: rgba(244, 214, 204, 0.722);
  --primary-color: rgb(199, 160, 154);
  --featured-color: rgb(196, 96, 96);
  --subheading-color: rgb(128, 128, 128);
  /* --secondary-color: rgb(153, 136, 201);  #e3d0cc*/
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  font-size: bold;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
h4 {
  font-size: 48px;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--secondary-font);
}
footer {
  margin: 60px 0;
}
.navbar-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.main {
  margin: 60px auto;
  max-width: 800px;
  margin-top: 100px;
}
.hero {
  margin-top: 55px;
  padding: 70px;
  background-color: var(--branding-color);
}
.cv-link {
  font-family: var(--secondary-font);
  color: var(--featured-color);
  text-decoration: none;
  display: block;
  margin: auto;
}
.secondary-hero {
  text-align: center;
  margin-top: 55px;
  padding: 70px;
  padding-bottom: 30;
  background-color: var(--primary-color);
  left: 0;
  right: 0;
}
.secondary-hero h1 {
  color: white;
}
.secondary-hero h3 {
  font-family: var(--secondary-font);
  font-weight: 300;
}
.about-photo {
  border-radius: 50%;
  margin-top: 150px;
  height: 50%;
}

.hero h3 {
  font-family: var(--secondary-font);
  font-weight: 300;
}
.social-links {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.navigation-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  transition: all ease-in-out 2ms;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.nav-item,
.active {
  color: var(--featured-color) !important;
}
.main h2 {
  font-family: var(--primary-font);
}
.getStarted-link {
  background: var(--primary-color);
  font-family: var(--secondary-font);
  box-shadow: var(--box-shadow);
  color: white;
  transition: all ease-in-out 2ms;
}
.getStarted-link:hover {
  background-color: var(--featured-color);
  color: white;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.content-paragraphs {
  display: flex;
  margin: 30px 0;
}

.content-paragraphs p {
  margin: 10px;
}

.project-link {
  border-radius: 6px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  background: white;
  box-shadow: var(--box-shadow);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: all ease-in-out 2ms;
}
.project-link:hover {
  background-color: var(--primary-color);
  color: white;
}
.work-link {
  font-family: var(--secondary-font);
  color: var(--featured-color);
  text-decoration: none;
}
.work-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.subheadings {
  color: var(--subheading-color);
  font-size: 42px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 24px;
  text-decoration: none;
  margin: 40px;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.social-footer a {
  margin: 0 20px;
  color: var(--featured-color);
  background-color: var(--branding-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 10ms ease-in-out;
}

.social-footer a:hover {
  color: var(--primary-color);
}

footer .contact-box {
  background-color: var(--branding-color);
  padding: 50px 150px;
  border-radius: 10px;
}
.contact-titles {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.contact-box p {
  margin: 0;
}
.contact-text {
  flex-direction: column;
}
.social-links span {
  background-color: var(--branding-color);
  border-radius: 50%;
  transition: all 10ms ease-in-out;
}
.social-links img:hover {
  background-color: var(--featured-color);
}
@media (max-width: 800px) {
  h1 {
    font-size: 44px;
    padding-top: 30px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  .subheadings {
    font-size: 34px;
  }
  .main {
    margin-top: 0;
  }
  .main img {
    display: none;
  }
  .main a {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .about-photo {
    width: 45%;
    margin-top: 0;
    height: 80%;
  }
  .technologies-container {
    max-width: 33%;
  }
  .navigation-links {
    margin-bottom: 24px;
  }

  .hero {
    padding: 30px 20px;
  }
  .hero p {
    font-size: 14px;
  }
  .secondary-hero {
    text-align: center;
    padding: 20px 20px;
  }
  .social-links {
    margin-top: 15px;
  }
  .social-links img {
    width: 25px;
  }
}
